{% extends 'main.html' %}

{% block content %}
<br>
<div class='row'>
    <div class="col-md-5">
        <h5>Liste du Personnel</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Ajouter un Personnels</a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Numéro de Sécurité sociale</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Machines Personnels</th>
                    <th>Lieu de travail</th>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
