<!DOCTYPE html>
<html lang="fr">
<head>
    {% block title %}
        <title > Sae 23 </title >
    {% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComputerApp</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    {% block menu %}
    <h1>R&T Development</h1>
        <h2> Menu</h2>
        <ul id="menu ">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'machines' %}">Machines</a></li>
            <li><a href="{% url 'personnel' %}">Personnel</a></li>
            <li><a href= " {% url 'add-machine' %}"> Ajouter une machine</a></li>
            <li><a href= " {% url 'add-personnel' %}"> Ajouter un personnel</a></li>

        </ul>
    {% endblock %}
    {% load static %}
    <img src="{% static 'computerapp/images/rtdev.png' %}"
    alt="logo" style="width:300px;height:200px">
    


    {% block content %}   
        Bienvenue chez R&T Development, sce site est l'aboutissement du projet IT Management qui a pour objectif ...
    {% endblock %}   
</body>
</html>